<header id="header">
  <div class="header-wrap">
    <nav class="top-bar" data-role="navigation" data-topbar>
      <ul class="title-area">
        <li class="toggle-topbar hide-for-print">
          <a>
            <i class="fa fa-bars fa-2x fa-fw"></i>
          </a>
        </li>
        <li class="name">
          <h1>
            <a class="small-text-center small-width-auto" href="#!/dashboard">

              <span>
                <img class="hidden-for-small-only hide-for-print" src="/assets/img/logo-sweat-with-kayla-color.png" alt="Sweat with Kayla Logo" />
                <div class="logo-title medium-margin-left-10">friday</div>
              </span>

              <img class="print-only" src="/assets/img/sweat-logo-drop@2x.png" alt="Sweat with Kayla Logo" />
            </a>
          </h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li><a routerLink="/" routerLinkActive="active">today</a></li>
          <li><a routerLink="/planner" routerLinkActive="active">planner</a></li>
          <li><a href="#!/education">education</a></li>
          <li><a href="#!/food">food</a></li>
          <li class="profile">
            <a href="#!/account/settings" *ngIf="currentUser">
              <img alt="Profile" class="img-circle" width="50" height="50" src={{currentUser.image_url}}>
            </a>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</header>
